
a.format-currency-tooltip span {
  display: none;
}

a.format-currency-tooltip {
  border-bottom: 1px dashed #333333;
  text-decoration: none;
}

a.format-currency-tooltip:hover {
  position: relative;
  text-decoration: none;
}

a.format-currency-tooltip:hover span {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 5px;
  margin: 10px;
  z-index: 100;
  background: #f0f0f0;
  border: 1px dotted #c0c0c0;
  width: 200px;
/*  opacity: 0.9; */
}
